body { background-color: white;
	   font-family: Arial, Helvetica, sans-serif; 
	   font-size: 12pt;
}

h1 { font-size: 18pt;
	 margin-bottom: 24pt;
	 text-align: center;
}

div#frontpage { text-align: center; }

td { padding-bottom: 14pt;
	 vertical-align: top;
}
	
td.category { font-weight: bold; }

td.justification { line-height: 1.3em;
	               text-align: justify;
}

ul#navigation { background-color: #6F6a6e;
	            color: white;
	            list-style: none;
	            width: auto;
	            text-align: center;
	            margin: 0;
}

ul#login { background-color: #4986e2;
	       color: white;
	       list-style: none;
	       width: auto;
	       text-align: center;
	       margin: 0;
}
	
ul#navigation li { display: inline; 
	               font-variant: small-caps; 
	               margin-right: 40px;
}

ul#login li { display: inline;
	          /*font-variant: small-caps;*/
              font-size: 10pt;
	          margin-right: 40px;
}

ul.errorlist { list-style-type: none; 
	           color: red; 
	           font-weight: bold; 
	           margin: 0;
	           padding: 0;
}

ul.errorlist li { margin: 0; 
	              padding: 0; 
}

li { margin-bottom: 14pt; }

a:link, a:visited { color: #928C8C;
	                text-decoration: none;
}

a:hover { color: #DB7919;
	      text-decoration: underline;
}
	
a.navigation { color: white; }

a:hover.navigation { text-decoration: underline; }
	
p.error_message { color: red; 
	              font-weight: bold;
}

p.page_range { text-align: center; }