{% extends "repository/base.html" %}

{% block title %}Corpus Collection System (CoCoS) - Frontpage{% endblock title %}

{% block content %}

  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">

  <h1>Welcome to CoCoS!</h1>
  <h3>The Corpora Collection System</h3>

  <p>This is CoCoS, the <strong>Co</strong>rpora <strong>Co</strong>llection <strong>S</strong>ystem.</p>

  <p><a class="btn btn-primary btn-large" href="{% url 'corpus-list' page=1 %}" class="btn btn-primary btn-large">Browse available corpora &raquo;</a></p>

  </div>

{% endblock content %}