<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Corpora Collection System (CoCoS){% endblock title %}</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-1.3.0.min.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/overrides.css">
</head>
<body>
    {% block topbar %}

    <div class="topbar">
        <div class="fill">
            <div class="container">
                <h3><a href="{% url cocos-frontpage %}">CoCoS</a></h3>
                <ul class="nav">
                    <li><a href="{% url corpus-list page=1 %}">Browse</a></li>
                    <li><a href="{% url search %}">Search</a></li>

                    {% if not user.is_authenticated %}
                        <li><a href="{% url login-form %}">Login</a></li>
                    {% else %}
                        <li><a href="{% url upload-form %}">Upload</a></li>
                        <li><a href="{% url feedback-form %}">Feedback</a></li>
                        <li><a href="{% url logout %}">Logout</a></li>
                    {% endif %}

                </ul>

                {% if user.is_authenticated %}
                    <ul class="nav secondary-nav">
                        <li><p>Welcome, {{ user.first_name }} {{ user.last_name }}</p></li>
                    </ul>
                {% endif %}

            </div>
        </div>
    </div>

    {% endblock topbar %}

    <div class="container">
        <div class="content">
            <div class="page-header">
                {% block page-header %}{% endblock page-header %}
            </div>

            {% block content %}{% endblock content %}

        </div>
    </div>


</body>
</html>