{% extends "repository/base.html" %}

{% block title %}Corpus Collection System (CoCoS) - Corpus List by Location{% endblock title %}

{% block page-header %}<h1>Browse <small>corpus descriptions</small></h1>{% endblock page-header %}

{% block browse %}<li class="active">{% endblock browse %}

{% block content %}
    {% if location == "coli" %}
        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li><a href="{% url corpus-list page=1 %}">All Corpora</a></li>
                <li class="active"><a href="#">CoLi</a></li>
                <li><a href="{% url corpus-list-by-location location='dfki' page=1 %}">DFKI</a></li>
            </ul>
        </div>

    {% endif %}

    {% if location == "dfki" %}
        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li><a href="{% url corpus-list page=1 %}">All Corpora</a></li>
                <li><a href="{% url corpus-list-by-location location='coli' page=1 %}">CoLi</a></li>
                <li class="active"><a href="#">DFKI</a></li>
            </ul>
        </div>
    {% endif %}


    {% include "repository/list_insertion.html" %}

    {% comment %}
    <div class="pagination pagination-centered">
        <ul>
            {% include "repository/pagination.html" %}
        </ul>
    </div>
    {% endcomment %}
{% endblock content %}