{% extends "repository/base.html" %}

{% block title %}Corpus Collection System (CoCoS) - Feedback Form{% endblock title %}

{% block page-header %}<h1>Feedback <small>opinions, suggestions, criticisms</small></h1>{% endblock page-header %}

{% block feedback %}<li class="active">{% endblock feedback %}

{% block content %}
    <div class="row">
    <div class="span9">
    <form action="/feedback/" class="form-horizontal" method="post" accept-charset="UTF-8" enctype="multipart/form-data">
        {% csrf_token %}

        {% if messages %}

            {% for message in messages %}
                {% if message.tags == 'success' %}
                    <div class="alert alert-success fade in">
                        <a class="close" data-dismiss="alert" href="#">&times;</a>
                        {{ message }}
                    </div>
                {% endif %}

                {% if message.tags == 'error' %}
                    <div class="alert alert-error fade in">
                        <a class="close" data-dismiss="alert" href="#">&times;</a>
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}

        {% endif %}

        <fieldset>

        {% for field in form %}

            {% if field.errors %}
                <div class="control-group error">
            {% else %}
                <div class="control-group">
            {% endif %}

                    <label class="control-label" for="{{ field.label }}">{{ field.label }} (<strong>required</strong>)</label>

                    <div class="controls">

                        {% if field.html_name == "subject" %}
                            <input class="input-xxlarge" id="{{ field.label }}" type="text" name="subject" maxlength="100" />
                        {% endif %}

                        {% if field.html_name == "message" %}
                            <textarea class="input-xxlarge" id="{{ field.label }}" rows="10" cols="40" name="message"></textarea>
                        {% endif %}

                    </div>
                </div>
        {% endfor %}

        <div class="form-actions">
            <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> Submit</button>
            <button type="reset" class="btn"><i class="icon-remove"></i> Reset form</button>
        </div>
        </fieldset>
    </form>
    </div>
    </div>
{% endblock content %}