{% extends "repository/base.html" %}

{% block title %}Corpus Collection System (CoCoS) - Corpus List{% endblock title %}

{% block page-header %}<h1>Browse <small>corpus descriptions</small></h1>{% endblock page-header %}

{% block browse %}<li class="active">{% endblock browse %}

{% block content %}
    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#">All Corpora</a></li>
            <li><a href="{% url corpus-list-by-location location='coli' page=1 %}">CoLi</a></li>
            <li><a href="{% url corpus-list-by-location location='dfki' page=1 %}">DFKI</a></li>
        </ul>
    </div>

    {% include "repository/list_insertion.html" %}

    {% comment %}
    <div class="pagination pagination-centered">
        <ul>
            {% include "repository/pagination.html" %}
        </ul>
    </div>
    {% endcomment %}
{% endblock content %}