<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<title>Corpus Details</title>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-1.3.0.min.css">
</head>
<body style="padding-top: 40px">
	{% include "repository/topbar.html" %}

    <div class="container">

        <h1>Details about <em>{{ corpus.name }}</em></h1>

        <table class="zebra-striped">

            <tbody>
                <tr>
                    <td>Location:</td>
                    <td>{{ corpus.get_location_display }}</td>
                </tr>

                {% if corpus.coli_path %}
                    <tr>
                        <td>Path on CoLi server:</td>
                        <td>{{ corpus.coli_path }}</td>
                    </tr>
                {% endif %}

                {% if corpus.dfki_path %}
                    <tr>
                        <td>Path on DFKI server:</td>
                        <td>{{ corpus.dfki_path }}</td>
                    </tr>
                {% endif %}

                <tr>
                    <td>Language:</td>
                    <td>{{ corpus.get_language_display }}</td>
                </tr>

                <tr>
                    <td>Annotation:</td>
                    <td>{{ corpus.annotation }}</td>
                </tr>

                {% if corpus.description %}
                    <tr>
                        <td>Description:</td>
                        <td>{{ corpus.description }}</td>
                    </tr>
                {% endif %}

                {% if corpus.comment %}
                    <tr>
                        <td>Comment:</td>
                        <td>{{ corpus.comment }}</td>
                    </tr>
                {% endif %}

                {% if corpus.license_holder %}
                    <tr>
                        <td>License holder:</td>
                        <td>{{ corpus.license_holder }}</td>
                    </tr>
                {% endif %}

                {% if corpus.contact %}
                    <tr>
                        <td>Contact:</td>
                        <td><a href="mailto:{{ corpus.contact }}">{{ corpus.contact }}</a></td>
                    </tr>
                {% endif %}
            </tbody>
	    </table>

    </div>
	
</body>
</html>