<div class="topbar">
        <div class="fill">
            <div class="container">
                <h3><a href="{% url cocos-frontpage %}">CoCoS</a></h3>
                <ul class="nav">
                    <li><a href="{% url corpus-list page=1 %}">Browse</a></li>
                    <li><a href="{% url search %}">Search</a></li>

                    {% if not user.is_authenticated %}
                        <li><a href="{% url login-form %}">Login</a></li>
                    {% else %}
                        <li><a href="{% url upload-form %}">Upload</a></li>
                        <li><a href="{% url feedback-form %}">Feedback</a></li>
                        <li><a href="{% url logout %}">Logout</a></li>
                    {% endif %}

                </ul>

                {% if user.is_authenticated %}
                    <ul class="nav secondary-nav">
                        <li><p>Welcome, {{ user.first_name }} {{ user.last_name }}</p></li>
                    </ul>
                {% endif %}

            </div>
        </div>
    </div>